


<header id="header">
    <h1>Gerencia Estabelecimento</h1>
    <!--<input id="nome" autofocus>
    <input id="login" autofocus>
    <input id="senha" autofocus>
    
    <p>
        <a id="add-note" href="#">adicionar</a>
    </p>-->
</header>

<div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="cadastro">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Cadastro Estabelecimento</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form class="form-horizontal">
                                      <fieldset >
                                        <legend>Dados do Estabelecimento</legend>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">CNPJ:</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="cnpj" type="text" >
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">Nome:</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="nome" type="text" >
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">Rua:</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="rua" type="text" >
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">Bairro:</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="bairro" type="text" >
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">Cidade:</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="cidade" type="text" >
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">Email:</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="email" type="text" >
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="focusedInput">Senha:</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="senha_estab" type="password" >
                                          </div>
                                        </div>
                                        
                                        
                                        <div class="form-actions">
                                          
                                          <button type="reset" class="btn btn-primary" id="add-estab">Salvar</button>
                                          <button type="reset" class="btn btn-danger">Cancel</button>

                                          
                                        </div> 
                                      </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                       
                    </div>

<style type="text/css">
            .row-fluid {
                width: 100%;
                margin-left: 0px;
                }
                ul{
        list-style: none;
      }
      .row-fluid {
width: 104%;
margin-left: -25px;
}
        </style>
        <section id="main">
    <ul id="list_estab"></ul>
   
    </section>                 
</html>