<div class="container">
<div class="bp-wrap">
	<div class="company-header">
		<div class="company-decription">
			<div class="ebit-medal">
				
			</div>
			<div class="ebit-info">
				<h1><%- razaosocial %></h1>
				
			</div>
			<p class="about">O <%- razaosocial %> oferece centenas de milhares de itens divididos em 25 categorias de produtos como livros, informática, CDS, DVDs, eletrônicos e brinquedos. Oferece, também serviços online.
			</p>
			<div class="send-review">
				<a id="new_rating" class="bp-btn light-blue only_logged" title="Envie sua avaliação" href="">Voltar Para os Anuncios
				</a>
			</div>
		</div>
		<div class="company-contacts">
			<div class="inner">
				<h3 class="info-store">Informações da Loja</h3>
				<h2 class="name">
					
				</h2>
				<ul>
					<li>
						<strong>Razão Social:</strong> <%- razaosocial %>
					</li>
					<li><strong>CNPJ:</strong> <%- cnpj %>
					</li>
					<li class="info-icon tel">
						
						<div class="tel"><strong>Telefone:</strong> 4003-2000</div>
					</li>
					<li class="info-icon email"><strong>Email:</strong>
						<strong><%- email %></strong> 
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</div>

</div>